record(stringin, "$(PREFIX)Version_RBV") {
    field(DTYP, "asynOctetRead")
    field(DESC, "Version number of the port driver")
    field(SCAN, "I/O Intr")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT)){{ cookiecutter.driver_name.upper() }}_VERSION")
}
